h1 {
    color: black;
    font-family:"Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size: 45px;
}
clickMe {
	display: flex;
	justify-content: center;
}
h2 {
	text-align: left;
}
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
	float: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: center;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  .right {
	  float: right;
	  text-align: right;
  }
  .center {
	  float: center;
	  text-align: center;
  }